name: First Workflow
on: push
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies 
        run: npm ci
      - name: Run Lint
        run: npm run lint
      - name: Run tests
        run: npm run test
      - name: Run Build
        run: npm run build
      - name: Deploy Code
        run: echo "Deploying ..."
